 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

body{
	font-family: Helvetica;
	font-size: 2em;
	background-color: grey;
	text-align: center;
}

a{
	@include button(pill);
}
img{
	width: 100%;
}
p{
	font-size: .5em;
}